@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .dark {
    background-color: black;
    box-shadow: 0 5px 21px 5px rgb(34, 34, 34);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/scale.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  transition: .4s;
}

.mh {
  height: fit-content;
  transition: .7s;
  transform: scale(1);
  max-height: 700px;
}
.tr {
  transition: .7s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}